*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 100px 10px 100px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "st";

    
   
    
    justify-items: center;
   
}
.container{
    width: 90%;
    height: 100vh;
    background-color: red;
    grid-area: sr;
    justify-self: center;
    justify-content: center;
    background-color: #eeeeee;
    overflow: hidden;

}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    margin-bottom: 0px;
}
h2{
    text-align: center;
    font-size: 1.6rem;
}
.flex{
    display: inline-flex;
    gap: 20px;
    height: 100px;
    padding-left: 10px;

}

p{
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.lighter{
    font-size: 20px;
}
ul{
    padding-left: 2rem;
}
li{

    padding-bottom: 10px;
}

.image{
    border-radius: 10%;
    border: 5px white solid;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    background-image: linear-gradient(gray, bisque, #eeeeee);
}
.whitebgcolor{
    background-color: white;
    height: 520px;
    width: 320px;
}

/*
N/B: This page ain't responsive at this time
*/
